body{
    margin: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    padding: 10px 30px;
    font-size: 20;
    cursor: pointer;
}
.liked{
    color: red;
}

